/*------------------------------
Universal Styles
------------------------------*/
body {
	/* padding: 2.313rem; */
	color: white;
}
h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0;
}
h2 {
	margin-top: 5px;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--primary);
}
header {
	padding: 5.5rem 2.313rem 1.5rem;
	text-align: center;
}
.gray {
	background-color: var(--gray2);
}
.nav {
	height: 9rem;
}
/*------------------------------
Main Logo Styles
------------------------------*/
#dt-anim {
    z-index: 2;
    width: 7.75rem;
    height: 7.75rem;
    position: absolute;
	left: 50%;
	top: 5rem;
	padding: .5rem;
	transform: translateX(-50%);
	background-color: var(--gray1);
	border: .25rem solid var(--gray2);
	border-radius: 50%;
}
/*------------------------------
Menu Button Styles
------------------------------*/
.menu-btn {
	all: unset;
	background-color: unset;
	border: unset;
	position: fixed;
	right: 2.313rem;
	top:2.313rem;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.25rem;
	height: 3.25rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.menu-btn:focus {
	outline: 1px solid white;
}
.menu-btn_burger {
	width: 2rem;
	height: 2px;
	background: white;
	transition: all .1s ease-in-out;
	border-radius: .5rem;
}
.menu-btn_burger::before, .menu-btn_burger::after {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2px;
	background: white;
	transition: all .1s ease-in-out;
	border-radius: .5rem;
}
.menu-btn_burger::before {
	transform: translateY(-.75rem);
	transform-origin: left, top;
}  
.menu-btn_burger::after {
	transform: translateY(.75rem);
	transform-origin: left, bottom;
	width: 1.5rem;
	right: 10px;
}
.menu-btn.open .menu-btn_burger {
	background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
	background-color: var(--primary);
	transform: rotate(45deg);
}
.menu-btn.open .menu-btn_burger::after {
	background-color: var(--primary);
	transform: rotate(-45deg);
	width: 2rem;
}

/*------------------------------
Feature Styles
------------------------------*/
article {
	padding: 3rem 3.5rem;
}
article img {
	width: 100%;
}
article h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--primary);
}
article p {
	font-size: 1.15rem;
	color: var(--gray3);
	line-height: 1.75rem;
}

/*------------------------------
Border Styles
------------------------------*/
#border-top {
	height: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	width: calc(100% - 34px);
}
#border-bottom {
	height: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	bottom: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	width: calc(100% - 34px);
}
#border-left {
	width: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	height: calc(100% - 34px);
}
#border-right {
	width: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	right: 1.063rem;
	z-index: 50;
	height: calc(100% - 34px);
}