.App {
	color: white;
	display: flex;
	justify-content: center;
	padding: 2.313rem;
}


/*------------------------------
Menu Button Styles
------------------------------*/
.menu-btn {
	all: unset;
	background-color: unset;
	border: unset;
	position: fixed;
	right: 2.313rem;
	top:2.313rem;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.25rem;
	height: 3.25rem;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.menu-btn:focus {
	outline: 1px solid white;
}
.menu-btn_burger {
	width: 2rem;
	height: 2px;
	background: white;
	transition: all .1s ease-in-out;
	border-radius: .5rem;
}
.menu-btn_burger::before, .menu-btn_burger::after {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2px;
	background: white;
	transition: all .1s ease-in-out;
	border-radius: .5rem;
}
.menu-btn_burger::before {
    transform: translateY(-.75rem);
    transform-origin: left, top;
}  
.menu-btn_burger::after {
    transform: translateY(.75rem);
    transform-origin: left, bottom;
	width: 1.5rem;
}

/*------------------------------
Border Styles
------------------------------*/
#border-top {
	height: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	width: calc(100% - 34px);
}
#border-bottom {
	height: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	bottom: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	width: calc(100% - 34px);
}
#border-left {
	width: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	left: 1.063rem;
	z-index: 50;
	height: calc(100% - 34px);
}
#border-right {
	width: 0.188rem;
	background: white;
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	top: 1.063rem;
	right: 1.063rem;
	z-index: 50;
	height: calc(100% - 34px);
}